@charset "UTF-8";
html {
  font-size: 17px;
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 2%;
  line-height: 1.2;
  font-size: 2rem;
  color: rgba(85, 90, 4, 0.8);
  font-weight: 800;
}

h2 {
  font-size: 1.6rem;
  font-weight: 800;
  color: rgba(170, 180, 8, 0.7);
  line-height: 1.5;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: #aab408;
}

p {
  font-size: 1rem;
  color: #969696;
  margin: 0;
  font-weight: 300;
}

sub {
  color: #969696;
  z-index: -1;
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #969696;
}

/* ---------- Barra de navegador ------------- */
#header {
  width: 100%;
  background-color: #fff;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  opacity: 0.92;
}

.sticky {
  position: fixed;
  top: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  margin: 0 10% 0 10%;
  color: #969696;
}

.nav-bar {
  margin: 0 10% 0 10%;
}

#header-img {
  height: 35px;
  margin: 10% 0 0 0;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1% 2.5% 0 0;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 39%;
  text-decoration: none;
  color: #969696;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(170, 180, 8, 0.7);
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-item {
  font-size: 1.1rem;
  margin: 5%;
}

.nav-item a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-item a:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: rgba(170, 180, 8, 0.7);
  width: 0;
  left: 50%;
  bottom: -3px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-item a:hover:after {
  width: 100%;
}

/* --------- Sección Producto principal --------------------- */
#producto {
  padding: 6% 5% 5%;
}

/* Datos ficha */
.ficha_producto {
  margin: 0 10%;
  padding: 4% 4% 2%;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 10px rgba(165, 165, 165, 0.2);
          box-shadow: 1px 1px 10px rgba(165, 165, 165, 0.2);
}

.ficha_producto:hover {
  -webkit-box-shadow: 6px 6px 20px rgba(140, 140, 140, 0.5);
          box-shadow: 6px 6px 20px rgba(140, 140, 140, 0.5);
}

.ficha_imagen {
  padding: 3%;
  margin: auto;
  text-align: center;
}

.ficha_imagen img {
  width: 35%;
  height: auto;
}

.ficha_texto {
  margin: auto;
  padding: 1% 5%;
}

.ficha_titulo {
  padding: 0 4%;
  text-align: center;
}

.ficha_cuerpo {
  padding: 2% 4%;
}

.ficha_cuerpo p {
  text-align: justify;
  font-size: 1rem;
  margin-right: 2%;
}

/* Apartado precio */
.producto_precio {
  text-align: center;
  padding: 1% 0;
}

.producto_precio p {
  font-size: 0.8rem;
}

.producto_txt {
  text-align: center;
}

.ficha_precio {
  margin: 0;
  font-size: 2rem;
  font-weight: 800;
}

.ficha_sub p {
  padding: 1%;
  font-size: 0.8rem;
  font-weight: 600;
  color: #bfbfbf;
}

/* ------------ Formulario de pedido ------------- */
#formulario_compra {
  padding: 5% 0 5%;
  text-align: center;
  color: #969696;
  font-size: 1rem;
}

#formulario_compra sub {
  font-size: 1rem;
  color: tomato;
}

.titulo_formulario {
  color: #aab408;
  padding-top: 2%;
}

.Intro_datos {
  padding: 1% 0 0;
}

.formulario {
  padding: 1% 0;
  text-align: center;
}

.Desplegable_pedido {
  margin: auto;
}

#SitBasicPedido_NomPers,
#name-label,
#SitBasicPedido_ApePers,
#surname-label,
#SitBasic_Email,
#email-label,
#SitBasicPedido_Tel,
#phone-label,
#SitBasic_RedTipPais,
#pais-label {
  margin: .3rem;
  padding: .3rem;
}

#SitBasic_Email {
  margin-left: 1.4%;
}

#SitBasicPedido_Tel {
  margin-left: 0.6%;
}

#SitBasic_RedTipPais {
  margin-left: 0;
  padding-left: 0;
}

#SitBasicPedido_Unidades {
  margin-left: 1%;
}

input,
select,
textarea {
  font-size: .9rem;
  color: #afafaf;
  margin: .35rem;
  padding: .2rem .5rem;
}

select {
  padding: .3rem .5rem;
}

textarea {
  margin: 0.3rem;
}

#submit {
  border: 1px solid #aab408;
  border-radius: 50px;
  background: transparent;
  color: rgba(170, 180, 8, 0.7);
  width: 16vw;
  height: 3vw;
  font-size: 1rem;
  padding: .35rem;
  margin: 1rem;
}

#submit:hover {
  background: rgba(170, 180, 8, 0.7);
  border-color: rgba(170, 180, 8, 0.3);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.mensaje {
  display: none;
}

/* ------  Sección Catálogo - Otros productos  --------  */
#Catalogo {
  width: 90%;
  padding: 2% 0;
  margin: auto;
  text-align: center;
  scroll-behavior: smooth;
}

.Catalogo_Cabecera {
  margin: 2% 0;
}

.Catalogo_Cabecera {
  color: #aab408 !important;
  font-weight: 600;
}

.Catalogo_Linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  margin-bottom: 1%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Tabla_Banco_C,
.Tabla_Herrajes_B,
.Tabla_Herrajes_S,
.Tabla_Licencia {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5%;
  padding: 1%;
  margin: 2% 6%;
  min-width: 30%;
  max-width: 35%;
  height: auto;
  -webkit-box-shadow: 1px 1px 10px rgba(165, 165, 165, 0.2);
          box-shadow: 1px 1px 10px rgba(165, 165, 165, 0.2);
}

.Tabla_Banco_C:hover,
.Tabla_Herrajes_B:hover,
.Tabla_Herrajes_S:hover,
.Tabla_Licencia:hover {
  -webkit-box-shadow: 6px 6px 20px rgba(140, 140, 140, 0.5);
          box-shadow: 6px 6px 20px rgba(140, 140, 140, 0.5);
}

.Imagen_tabla img {
  margin: 6%;
  width: 30vh;
  height: auto;
}

.Contenido_tabla {
  margin: 5% 2%;
}

.Titulo_tabla {
  margin: 4% 0;
}

.Titulo_tabla h1 {
  margin: 2%;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #aab408;
}

.Contenido_tabla ul {
  padding: 0 3%;
  margin: 3% 0;
  list-style-type: none;
  line-height: 2;
  color: #969696;
}

.Boton_Banco_Caballeria,
.Boton_Herrajes_B,
.Boton_Herrajes_S,
.Boton_Licencia {
  margin: 10% 0 6%;
  border: 1px solid rgba(170, 180, 8, 0.3);
  border-radius: 50px;
  background: transparent;
  color: rgba(170, 180, 8, 0.7);
  width: 12vw;
  height: 2.5vw;
  font-size: 1rem;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.Boton_Banco_Caballeria:hover,
.Boton_Herrajes_B:hover,
.Boton_Herrajes_S:hover,
.Boton_Licencia:hover {
  background: rgba(170, 180, 8, 0.7);
  border-color: rgba(170, 180, 8, 0.3);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* Footer */
#footer {
  width: 100%;
}

.container_footer {
  background-color: rgba(170, 180, 8, 0.7);
  color: #fff;
  padding: .5rem;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0;
}

.Sitbasic {
  padding: 1.1rem 0;
  margin-bottom: 0;
}

.container_footer p {
  color: #fff;
}

.ft {
  display: inline-block;
  padding: 2% 0 1%;
  margin: auto;
  color: #fff;
}

.footer-links a:hover,
.footer-links a:link,
.footer-links a:visited,
.footer-links a:active {
  text-decoration: none;
  color: #fff;
}

.footer-links a:hover {
  cursor: pointer;
  color: rgba(85, 90, 4, 0.8);
}

/* --------------------- Media queries --------------------------- */
/* --------------------------------------------------------------- */
/* ------------------ MEDIA QUERY 1600 ----------------------- */
@media screen and (max-width: 1601px) {
  /* ---------- Barra de navegador ------------- */
  .nav-bar {
    margin: 0 17% 0 10%;
  }
}

/* ------------------ MEDIA QUERY 1351 ----------------------- */
@media screen and (max-width: 1351px) {
  /* ---------- Barra de navegador ------------- */
  .nav-bar {
    margin: 0 23% 0 10%;
  }
}

/* -------------------- MEDIA QUERY 1280 -------------------------   */
@media screen and (max-width: 1281px) {
  html {
    font-size: 15px;
  }
  /* ---------- Barra de navegador ------------- */
  #header {
    height: 70px;
  }
  #header-img {
    height: 30px;
    margin: 10% 0 0 0;
  }
  .nav-bar {
    margin: 0 21% 0 10%;
  }
  /* ------------ Formulario de pedido ------------- */
  #formulario_compra {
    padding: 5% 0 2%;
  }
  .formulario {
    padding: 0;
  }
  #SitBasic_Email {
    margin-left: 1.6%;
  }
  #submit {
    margin: .75rem;
  }
}

/* -------------------- MEDIA QUERY 1068 -------------------------   */
@media screen and (max-width: 1068px) {
  html {
    font-size: 14.5px !important;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 0.9rem;
  }
  /* ---------- Barra de navegador ------------- */
  .nav-bar {
    margin: 0 26% 0 10%;
  }
  #header-img {
    height: 28px;
    margin: 10% 0 0 0;
  }
  .nav-item {
    font-size: 1rem;
    margin: 3% 0% 1% 10%;
  }
  /* --------- Sección Producto principal --------------------- */
  #producto {
    padding: 14% 5% 5%;
  }
  .ficha_texto p {
    font-size: 0.9rem;
  }
  /* ------------ Formulario de pedido ------------- */
  #formulario_compra {
    padding: 10% 0 5%;
  }
  .formulario {
    padding: 2%;
  }
  #SitBasicPedido_NomPers,
  #name-label,
  #SitBasicPedido_ApePers,
  #surname-label,
  #SitBasic_Email,
  #email-label,
  #SitBasicPedido_Tel,
  #phone-label,
  #SitBasic_RedTipPais,
  #pais-label {
    margin: .3rem;
  }
  #SitBasic_Email {
    margin-left: 1.9%;
  }
  #SitBasicPedido_Tel {
    margin-left: 0.55%;
  }
  #SitBasic_RedTipPais {
    margin-left: 0;
    padding-left: 0;
  }
  #SitBasicPedido_Unidades {
    margin: 1.5% 0 0 0;
  }
  #submit {
    margin: 1%;
    width: 20vw;
    height: 4vw;
  }
  /* ------  Sección Catálogo - Otros productos  --------  */
  .Catalogo {
    padding: 5% 0;
  }
  .Catalogo_Cabecera {
    margin: 3% 0;
  }
  .Catalogo_Linea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 1%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Imagen_tabla img {
    margin: 6%;
    width: 22vh;
    height: auto;
  }
  .Titulo_tabla h1 {
    margin: 1%;
  }
  .Contenido_tabla ul {
    line-height: 1.6;
  }
  .Boton_Banco_Caballeria,
  .Boton_Herrajes_B,
  .Boton_Herrajes_S,
  .Boton_Licencia {
    width: 17vw;
    height: 3.5vw;
  }
}

/* -------------------- MEDIA QUERY 991  -------------------------   */
@media screen and (max-width: 991px) {
  html {
    font-size: 14px !important;
  }
  /* ---------- Barra de navegador ------------- */
  .nav-bar {
    margin: 0 24% 0 10%;
  }
  #header-img {
    height: 26px;
    margin: auto;
  }
  .nav-links {
    margin: 1% 8% 0 0;
  }
  .nav-item {
    font-size: 1rem;
    margin: 1% 1% 2% 10%;
  }
  /* --------- Sección Producto principal --------------------- */
  #producto {
    padding: 10% 5% 5%;
  }
  .ficha_imagen img {
    width: 65%;
    height: auto;
  }
  .ficha_cuerpo {
    padding: 2% 4%;
  }
  .ficha_titulo h1 {
    margin: 1%;
  }
  /* ------------ Formulario de pedido ------------- */
  #formulario_compra {
    padding: 6% 0 2%;
  }
  /* ------  Sección Catálogo - Otros productos  --------  */
  .Catalogo {
    padding: 2% 0;
  }
}

/* --------------------- media query 850 --------------------------------- */
@media screen and (max-width: 850px) {
  /* ---------- Barra de navegador ------------- */
  .nav-bar {
    margin: 0 32% 0 10%;
  }
}

/* -------------------- media query 769 (toggler) -------------------------   */
@media screen and (max-width: 769px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  /* ---------- Barra de navegador ------------- */
  #header,
  nav {
    height: 65px;
  }
  .nav-bar {
    margin: 0 15% 0 10%;
  }
  #header-img {
    height: 22px;
    margin: 10% 0 0;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 25vh;
    top: 5vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 20%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    color: #969696;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
    margin-right: -5vw;
    padding-top: 5px;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .nav-item {
    margin: 5%;
  }
  /* --------- Sección Producto principal --------------------- */
  #producto {
    padding: 10% 5% 2%;
  }
  /* ------------ Formulario de pedido ------------- */
  .formulario {
    padding: 1% 0;
    text-align: center;
  }
  .ficha_instrucciones {
    width: 90%;
    margin: 1rem auto;
  }
  #submit {
    width: 28vw;
    height: 6vw;
  }
  /* ------  Sección Catálogo - Otros productos  --------  */
  #Catalogo {
    padding: 7% 4%;
  }
  .Tabla_Banco_C,
  .Tabla_Herrajes_B,
  .Tabla_Herrajes_S,
  .Tabla_Licencia {
    margin: 1.5% 5%;
    width: 60%;
    min-width: 45%;
  }
  .Imagen_tabla img {
    margin: 5%;
    width: 18vh;
  }
  .Contenido_tabla {
    margin: 3.5% 2%;
  }
  .Titulo_tabla {
    margin: 3% 0;
  }
}

/* -------------------- media query 601  -----------------------------   */
@media screen and (max-width: 601px) {
  body {
    overflow-x: hidden;
  }
  /* ------------ Formulario de pedido ------------- */
  #SitBasic_Email {
    margin-left: 3%;
  }
  #SitBasicPedido_Tel {
    margin-left: 0.8%;
  }
  #SitBasic_RedTipPais {
    margin-left: 0;
    padding-left: 0;
  }
  #submit {
    margin: 1%;
    width: 30vw;
    height: 6vw;
  }
  /* ---------------- Sección Catálogo - Otros productos --------------------- */
  .Catalogo_Linea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Tabla_Banco_C,
  .Tabla_Herrajes_B,
  .Tabla_Herrajes_S,
  .Tabla_Licencia {
    padding: 3%;
    width: 80%;
    min-width: 60%;
    max-width: 80%;
    min-height: 35vh;
  }
  .Imagen_tabla img {
    width: 22vh;
  }
  .Titulo_tabla h1 {
    font-size: 1.1rem;
  }
  .Contenido_tabla ul {
    margin: 2% 0;
    font-size: 0.9rem;
  }
  .Boton_Banco_C,
  .Boton_Herrajes_B,
  .Boton_Herrajes_S,
  .Boton_Licencia {
    margin: 4% 0 2%;
    width: 35vw;
    height: 7vw;
  }
}

/* -------------------- media query 499 (móvil) -------------------------   */
@media screen and (max-width: 499px) {
  /* ---------- Barra de navegador ------------- */
  #header {
    height: 60px;
  }
  .nav-bar {
    margin: 0 18% 0 10%;
  }
  .nav-links {
    top: 8vh;
    width: 25%;
    margin: 0% 8.5% 2% 0;
    z-index: 2;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  /* --------- Sección Producto principal --------------------- */
  #producto {
    width: 90%;
    padding: 20% 5% 5%;
  }
  .ficha_producto {
    padding: 3%;
  }
  .ficha_imagen img {
    width: 65%;
    height: auto;
  }
  .ficha_titulo h1 {
    font-size: 1.4rem;
  }
  .ficha_cuerpo {
    padding: 2%;
  }
  .ficha_precio {
    font-size: 1.4rem;
  }
  /* ------------ Formulario de pedido ------------- */
  #formulario_compra {
    padding: 15% 8% 8%;
  }
  .formulario {
    padding: 3%;
  }
  #SitBasic_Email {
    margin-left: 5%;
  }
  #SitBasicPedido_Tel {
    margin-left: 0.8%;
  }
  #SitBasic_RedTipPais {
    margin-left: 0;
    padding-left: 0;
  }
  #submit {
    margin: 4%;
    width: 45vw;
    height: 8vw;
    font-size: 1.1rem;
  }
  /* ------  Sección Catálogo - Otros productos  --------  */
  #Catalogo {
    text-align: center;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/* ---------------------------- FIN ----------------------------------- */
/*# sourceMappingURL=style_producto.css.map */