$textcolor: rgb(150, 150, 150);
$color1: rgba(170, 180, 8, 0.7);
$color2: rgba(170, 180, 8, 1);
$color2B: rgba(170, 180, 8, 0.3);
$color3: rgba(85, 90, 4, 0.8);
$bg-color: #fff;

html {
  font-size: 17px;
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: $color2;
}

p {
  font-size: 1rem;
  color: rgb(150, 150, 150);
  font-weight: 300;
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: $textcolor;
}

/* ---------- Barra de navegador ------------- */

#header {
  width: 100%;
  background-color: $bg-color;
  height: 100px;
  align-items: center;
  z-index: 1;
  opacity: 0.92;
}

.sticky {
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin: 0;
}

.nav-bar {
  margin: 0 10% 0 10%;
}

#header-img {
  height: 35px;
  margin: 10% 0 0 0;
}

.nav-links {
  display: flex;
  margin: 1% 2.5% 0 0;
  list-style-type: none;
  justify-content: space-between;
  width: 39%;
  text-decoration: none;
  color: $textcolor;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: $color1;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-item {
  font-size: 1.1rem;
  margin: 5%;
}

.nav-item a {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-item a:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: $color1;
  width: 0;
  left: 50%;
  bottom: -3px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-item a:hover:after {
  width: 100%;
}

/* ------------ Texto Principal ------------- */

.pedido_realizado_pag,
.aviso_legal_pag,
.galeria_pag {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5% 10%;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  z-index: 0;
}

.titulo_aviso {
  width: 100%;
  padding: 4% 2%;
}

.cabecera_galeria {
  width: 100%;
  padding: 2%;
}

.Pie-de-foto {
  margin: 0 0 3%;
  text-align: center;
}

.aviso_legal_pag h3,
.pedido_realizado h3,
.montaje_pag h3,
.galeria_pag h3 {
  margin: 2% 5% 3%;
  text-align: center;
  color: $color1;
}

/*------------ Footer ---------------*/

#footer {
  width: 100%;
}

.container_footer {
  background-color: $color1;
  color: $bg-color;
  padding: .5rem;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0;
}

.Sitbasic {
  padding: .2rem 0;
  margin-bottom: 0;
}

.container_footer p {
  color: $bg-color;
}

.ft {
  display: inline-block;
  padding: 2% 0 1%;
  margin: auto;
  color: $bg-color;
}

.footer-links a:hover,
.footer-links a:link,
.footer-links a:visited,
.footer-links a:active {
  text-decoration: none;
  color: $bg-color;
}

.footer-links a:hover {
  cursor: pointer;
  color: $color3;
}

/* --------------------- Media queries ------------------------------------------------ */
/* ------------------------------------------------------------------------------------ */

/* ------------------ MEDIA QUERY 1600 ----------------------- */

@media screen and (max-width: 1601px) {
  /* ---------- Barra de navegador ------------- */

  .nav-bar {
    margin: 0 17% 0 10%;
  }
}

/* ------------------ MEDIA QUERY 1351 ----------------------- */

@media screen and (max-width: 1351px) {
  /* ---------- Barra de navegador ------------- */

  .nav-bar {
    margin: 0 23% 0 10%;
  }
}

/* ------------------ MEDIA QUERY 1280 ----------------------- */

@media screen and (max-width: 1281px) {
  html {
    font-size: 15px;
  }

  /* ---------- Barra de navegador ------------- */

  #header {
    height: 70px;
  }

  #header-img {
    height: 30px;
    margin: 10% 0 0 0;
  }

  .nav-bar {
    margin: 0 21% 0 10%;
  }

  /* ------------ Texto Principal ------------- */

  .pedido_realizado_pag,
  .aviso_legal_pag,
  .galeria_pag {
    padding: 5% 10% 1.2%;
  }

}

/* -------------------- MEDIA QUERY 1068 -------------------------   */

@media screen and (max-width: 1068px) {
  html {
    font-size: 14.5px;
  }

  p {
    font-size: .9rem;
  }

  /* ---------- Barra de navegador ------------- */

  .nav-bar {
    margin: 0 26% 0 10%;
  }

  #header-img {
    height: 28px;
    margin: 10% 0 0 0;
  }

  .nav-item {
    font-size: 1rem;
    margin: 3% 0% 1% 10%;
  }

  /* ------------- Texto Principal ------------- */

  .pedido_realizado_pag,
  .aviso_legal_pag,
  .galeria_pag {
    padding: 5% 10%;
  }

}

/* -------------------- MEDIA QUERY 991  -------------------------   */

@media screen and (max-width: 991px) {
  html {
    font-size: 14px;
  }

  /* ---------- Barra de navegador ------------- */

  .nav-bar {
    margin: 0 24% 0 10%;
  }

  #header-img {
    height: 26px;
    margin: auto;
  }

  .nav-links {
    margin: 1% 8% 0 0;
  }

  .nav-item {
    font-size: 1rem;
    margin: 1% 1% 2% 10%;
  }

}

/* --------------------- media query 850 --------------------------------- */

@media screen and (max-width: 850px) {
  /* ---------- Barra de navegador ------------- */

  .nav-bar {
    margin: 0 32% 0 10%;
  }
}

/* -------------------- media query 769 (toggler) -------------------------   */

@media screen and (max-width: 769px) {
  body {
    overflow-x: hidden;
  }

  p {
    font-size: 0.9rem;
  }

  /* ---------- Barra de navegador ------------- */

  #header,
  nav {
    height: 65px;
  }

  .nav-bar {
    margin: 0 15% 0 10%;
  }

  #header-img {
    height: 22px;
    margin: 10% 0 0 0;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 25vh;
    top: 5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    color: $textcolor;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-right: -5vw;
    padding-top: 5px;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .nav-item {
    margin: 10%;
  }

/* ------------ Texto Principal ------------- */

  .pedido_realizado_pag,
  .aviso_legal_pag,
  .galeria_pag {
    padding: 5% 10%;
  }

}

/* -------------------- media query 499 (móvil) -------------------------   */

@media screen and (max-width: 499px) {

  /* ---------- Barra de navegador ------------- */

  #header,
  nav {
    height: 60px;
  }

  #header-img {
    height: 20px;
    margin: auto;
  }

  .nav-links {
    top: 8vh;
    width: 35%;
    margin: 1% 8% 0 0;
  }

  .nav-active {
    transform: translateX(0%);
  }

  /* ------------ Texto Principal ------------- */

  .pedido_realizado_pag,
  .aviso_legal_pag,
  .galeria_pag {
    padding: 15% 12%;
  }

}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


/* ---------------------------- FIN ----------------------------------- */

